<html>
    <body>
        <div id="header">
            <h1 align="center">
              StockHelper
            </h1>
            <p align="center">
              
            </p>
        </div>
        <div class="repos">
          <p>GitHub 주소</p>
          <h2>
            <a href="https://github.com/mannamman/newsCrawl">newsCrawlSentiment</a>
            <br/>
            <a href="https://github.com/mannamman/newsCrawl/blob/main/LICENSE">
              <img src="https://www.namthplayground.com/public/img/licensemit.svg"/>
            </a>
          </h2>
          <h2>
            <a href="https://github.com/mannamman/namthplaygroundNest">newsCrawlRepoNest</a>
            <br/>
            <a href="https://github.com/mannamman/namthplaygroundNest/blob/main/LICENSE">
              <img src="https://www.namthplayground.com/public/img/licensemit.svg"/>
            </a>
          </h2>
        </div>
        <form action="https://www.namthplayground.com/stock/day" method="post">
          <p>주제</p>
          <select name="subject">
            <option value="tesla">Tesla</option>
            <option value="snp500">SNP500</option>
            <option value="google">GOOGLE</option>
            <option value="nasdaq">Nasdaq</option>
            <option value="americanelectricpower">AmericanElectricPower</option>
            <option value="oneok">Oneok</option>
            <option value="amazon">Amazon</option>
            <option value="apple">Apple</option>
          </select><br>
          <p>뉴스가 작성된 언어</p>
          <select name="source_lang">
            <option value="en">eng</option>
            <option value="en">eng</option>
            <option value="en">eng</option>
            <option value="en">eng</option>
          </select><br>
          <div id="calendar">
            <br>
            <label for="start" style="display: block; font: 1rem">시작 날짜</label><br>
            <input type="date" id="start" name="start" value="{{start_date}}" min="{{min_date}}" max="{{max_date}}" style="margin: .4rem 0;"/>
            <label for="end" style="display: block; font: 1rem">종료 날짜</label><br>
            <input type="date" id="end" name="end" value="{{start_date}}" min="{{min_date}}" max="{{max_date}}" style="margin: .4rem 0;"/>
          </div>
          <div id="detail_area">
            <input type="checkbox" id="detail" name="detail">
            <label for="detail">일일 누적량 표시</label>
          </div>
          <input type="submit" />
        </form>
    </body>
</html>